{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
<div class="container">

<h1>Edit Comment</h1>

    {{ include('wild/comment/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('wild/comment/_delete_form.html.twig') }}
</div>
{% endblock %}
